In [39]:
import numpy as np
import pandas as pd

population = [20, 2.77, 39]
countries = ["colombia", "alaska", "chile"]


#Versión numpy
rie = np.array(countries)
pop = np.array(population)
dictMalo = np.vstack((rie,pop))


print = (dictMalo)


print (dictMalo[0,:]=="alaska")
print (np.where(dictMalo[0,:]=="alaska"))

print (dictMalo[1,1])

TypeError: 'numpy.ndarray' object is not callable

In [ ]:
#version listas
concatenado = zip(countries,population)
dictMedioMalo = (list(concatenado))
#print(dictMedioMalo)
index = dictMedioMalo[1].index("alaska")
print(index)

In [ ]:
#versión diccionarios
dictCorrecto = dict(dictMedioMalo)
dictCorrecto.get("alaska")
print(dictCorrecto)

In [ ]:
NuestroDiccionario = {
    'correr':'caminar rapido',
    'saltar':'accion de elevarse con impulso',
    'agachar':'accion de doblar rodillas para hacerse pequeño' 
}
print(NuestroDiccionario.get("saltar"))
print(NuestroDiccionario.keys()) # .keys busca la palabra clave
print(NuestroDiccionario.values()) # .values busca el significado

In [1]:
Lista = {
    'IDestudiante' : ["sergio","roy","andres","camila"],
    'Edad' : [25 ,24 ,36 ,22],
    'asistencia' : [True, True, True, False]
}


print(Lista.get("IDestudiante"))
print(Lista.keys()) # .keys busca la palabra clave
print(Lista.values()) # .values busca el significado
Lista['apellidos']= ["gaitan", "perez", "ovalle", "anonimo"]
print(Lista.get("apellidos"))

['sergio', 'roy', 'andres', 'camila']
dict_keys(['IDestudiante', 'Edad', 'asistencia'])
dict_values([['sergio', 'roy', 'andres', 'camila'], [25, 24, 36, 22], [True, True, True, False]])
['gaitan', 'perez', 'ovalle', 'anonimo']

In [10]:
print('notas' in Lista)
Lista["apellidos"][3] = "gutierrez"
print("\n", Lista)

NameError: name 'Lista' is not defined

In [12]:
europe = {
    'spain': {'capital' : "madrid", 'population': 46.77},
    'france': {'capital': "paris", 'population': 66.03},
    'germany': {'capital': "berlin", 'population': 57.08},
    'norway': {'capital': "oslo", 'population': 5.084}
}
pop_sp = europe['spain']['population']
print("The population of spain is {0} million and his capital is {1}".format(pop_sp, europe['spain']['capital']))
sumadepoblaciones = europe['spain']['population'] + europe['france']['population']
print("la poblacion de españa y francia es de {}".format(sumadepoblaciones))

The population of spain is 46.77 million and his capital is madrid
la poblacion de españa y francia es de 112.80000000000001

In [19]:
for key, values in europe.items():
    print("datos del pais: {0} son {1} millones".format(key,values))
    print("datos del pais: {0} son {1} millones".get((values))

SyntaxError: unexpected EOF while parsing (<ipython-input-19-140686c9752f>, line 3)

In [15]:
basesEstudiantes.index = [2016245, 2017120, 2018235, 2019102]

NameError: name 'basesEstudiantes' is not defined

In [17]:
data = pd.read_csv('./Facebook_metrics/dataset_Facebook.csv', delimiter = ";") #delimiter es para separar los valores ya sea por comas puntos etc
data.head(10) # Data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142

In [24]:
#para ver la información en especifico de una fila , columna con el nombre en especifico
data.loc[[2,3],["Post Hour"]] #buscar por el nombre de la columna

   Post Hour
2          3
3         10

In [26]:
data.iloc[[2,3],[5]] #buscar por posicion de la columna

   Post Hour
2          3
3         10

In [31]:
data.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [33]:
europe.keys()

dict_keys(['spain', 'france', 'germany', 'norway'])

In [42]:
data = pd.read_table('./cloud')
data.head(7)

c:\users\cfp-8421\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

FileNotFoundError: [Errno 2] File b'./cloud' does not exist: b'./cloud'